/* content */
.caixa {
    padding: 50px 0px;
    border-bottom: 1px solid gray;
}

/* footer */
footer p a {
    margin: 5px 15px;
    text-decoration: none;
    color: white;
}

footer a ion-icon {
    color: rgb(8, 87, 98);
}